In [1]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np

In [2]:
file= pd.read_csv('marketing_customer_analysis.csv')
display(file.head()) #first 5 lines. note index of row is the same as a number of a row
display(file.tail())
file.shape

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

(10910, 26)

In [3]:
print(file.dtypes)
display(file)

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
cols = []
for colname in file.columns:
    cols.append(colname.lower())
file.columns = cols
display(file.head())

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [5]:
data1=file._get_numeric_data() #numerical
data2=file.select_dtypes(include=['object']) #whih columns are categorical

display(data1.head()) 
display(data2.head())

,unnamed: 0,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN

In [6]:
#how many missing values has each column
file.isna().sum()

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [7]:
nulls_data = pd.DataFrame(round(file.isna().sum()/len(file),4)*100) # shows the percentage of null values in a column
nulls_data = nulls_data.reset_index()
display(nulls_data)

# a lot of missing data in vehicle type

                            index      0
0                      unnamed: 0   0.00
1                        customer   0.00
2                           state   5.78
3         customer lifetime value   0.00
4                        response   5.78
5                        coverage   0.00
6                       education   0.00
7               effective to date   0.00
8                employmentstatus   0.00
9                          gender   0.00
10                         income   0.00
11                  location code   0.00
12                 marital status   0.00
13           monthly premium auto   0.00
14        months since last claim   5.80
15  months since policy inception   0.00
16      number of open complaints   5.80
17             number of policies   0.00
18                    policy type   0.00
19                         policy   0.00
20               renew offer type   0.00
21                  sales channel   0.00
22             total claim amount   0.00
23                  vehicle class   5.70
24                   vehicle size   5.70
25                   vehicle type  50.25

In [8]:

nulls_data = nulls_data.rename(columns = {'index': 'header_name', 0:'percent_nulls'})
display(nulls_data.head())
#print(nulls_df.columns)

               header_name  percent_nulls
0               unnamed: 0           0.00
1                 customer           0.00
2                    state           5.78
3  customer lifetime value           0.00
4                 response           5.78

In [9]:
#as there is a lot of missing data in vehicle type and we have better data in vehicle class and vehicle size

# I decided to remove the whole column verhicle type. After I reset index.
#Also I am removing the column "unnamed:0"
filedrop1 = file.drop(['vehicle type','unnamed: 0'], axis=1)

display(filedrop1.head())
filedrop1=filedrop1.reset_index()
filedrop1.shape # 10910,25

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

(10910, 25)

In [10]:

#filedrop2 = filedrop1.dropna() If I drop all na elements, I got half data - shape of new data - (4543, 26).Too bad.
#As objects are harder to predict, and I could see before that vehicle class missing data at the same time as
#vehicle size, I am dropping 'vehicle class'.
#As well I decided to drop the rows with state(it's same rows that responses were missins)
#filedrop2 = filedrop1[filedrop1['vehicle class'].isna()==False] # Since these nulls are not a lot, we can filter them
rows_to_drop = filedrop1[filedrop1['vehicle class'].isna()==True].index

filedrop2 = filedrop1.drop(rows_to_drop, axis=0)
print(filedrop2.shape) #10288,25
display(filedrop2.head())

(10288, 25)

,index,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [11]:
rows_to_drop = filedrop2[filedrop2['state'].isna()==True].index
#rows_to_drop1 = filedrop1[filedrop1['state'].isna()==True].index

filedrop3 = filedrop2.drop(rows_to_drop, axis=0)
print(filedrop3.shape) #9688,25
display(filedrop3.head())

(9688, 25)

,index,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [12]:
filedrop3[filedrop3['number of open complaints'].isna()==True].head(60)
#filedrop['number of open complaints'].unique() # array([ 0., nan,  3.,  1.,  2.,  4.,  5.])
#filedrop['number of open complaints'].nunique() #6
#I the average of number of complaints is 0,38 So I will round it to 0
# I will calculate mean value for Nan values 'months since the last claim', also rounding till integer.

,index,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
23,23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,...,80,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize
51,51,FT56968,Arizona,2590.096027,No,Basic,High School or Below,1/3/11,Employed,M,...,76,NaN,1,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large
59,59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,1/26/11,Employed,M,...,39,NaN,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize
67,67,KR35099,Washington,7507.455372,Yes,Basic,College,2/6/11,Employed,M,...,61,NaN,2,Personal Auto,Personal L3,Offer2,Agent,231.201886,Two-Door Car,Medsize
84,84,OH69760,Arizona,5181.054467,No,Basic,College,2/2/11,Unemployed,F,...,64,NaN,7,Personal Auto,Personal L1,Offer1,Branch,336.000000,Four-Door Car,Large
86,86,WM19996,California,8349.523082,No,Basic,Bachelor,1/9/11,Employed,M,...,46,NaN,3,Corporate Auto,Corporate L3,Offer1,Call Center,487.273964,SUV,Medsize
106,106,LP47259,Arizona,8324.232710,No,Extended,High School or Below,1/1/11,Unemployed,M,...,92,NaN,5,Corporate Auto,Corporate L3,Offer2,Branch,871.200000,Sports Car,Medsize
108,108,SD83603,Oregon,6672.127831,No,Extended,College,2/13/11,Employed,F,...,27,NaN,9,Personal Auto,Personal L1,Offer2,Agent,319.799712,Two-Door Car,Medsize
172,172,ME44353,Oregon,5876.054314,No,Basic,College,2/9/11,Employed,F,...,59,NaN,5,Personal Auto,Personal L2,Offer3,Call Center,250.454012,Four-Door Car,Medsize
176,176,AV93209,California,12487.580950,No,Premium,High School or Below,1/11/11,Employed,F,...,3,NaN,2,Personal Auto,Personal L3,Offer1,Agent,499.200000,Four-Door Car,Medsize
178,178,QQ39596,Arizona,2517.533581,No,Basic,College,2/26/11,Unemployed,F,...,71,NaN,1,Personal Auto,Personal L3,Offer2,Call Center,42.096415,Four-Door Car,Medsize
200,200,TL43709,Washington,8972.140307,No,Basic,Bachelor,1/27/11,Employed,M,...,4,NaN,2,Personal Auto,Personal L3,Offer1,Branch,136.829537,Four-Door Car,Large
222,222,IN65727,Washington,2693.530229,No,Basic,Master,1/15/11,Employed,F,...,87,NaN,1,Personal Auto,Personal L3,Offer2,Agent,343.889585,Two-Door Car,Medsize
225,225,BT20606,Arizona,5837.528088,No,Basic,Doctor,1/10/11,Employed,M,...,81,NaN,7,Personal Auto,Personal L2,Offer3,Agent,419.471438,Four-Door Car,Medsize
252,252,XS94482,Arizona,4151.667368,No,Basic,Master,2/17/11,Unemployed,F,...,71,NaN,9,Personal Auto,Personal L2,Offer1,Web,208.892861,Two-Door Car,Medsize
254,254,RS66246,California,2943.045259,No,Extended,High School or Below,1/18/11,Unemployed,F,...,23,NaN,1,Personal Auto,Personal L3,Offer4,Branch,388.800000,Two-Door Car,Large
256,256,RB63074,Oregon,4858.067125,No,Basic,High School or Below,1/3/11,Unemployed,M,...,79,NaN,3,Personal Auto,Personal L1,Offer2,Branch,482.400000,Four-Door Car,Medsize
259,259,JA24437,California,7555.828789,No,Premium,College,2/25/11,Unemployed,M,...,50,NaN,3,Personal Auto,Personal L3,Offer1,Branch,820.800000,Four-Door Car,Medsize
262,262,FS49381,Oregon,4784.960513,No,Basic,Bachelor,1/26/11,Employed,F,...,97,NaN,8,Personal Auto,Personal L1,Offer3,Agent,205.332749,Four-Door Car,Medsize
277,277,ZU35962,California,8025.229358,No,Extended,College,1/26/11,Unemployed,F,...,26,NaN,2,Personal Auto,Personal L3,Offer3,Branch,25.807685,Two-Door Car,Large
278,278,VD96075,Oregon,4165.252177,No,Premium,Bachelor,1/20/11,Employed,M,...,22,NaN,1,Personal Auto,Personal L3,Offer1,Branch,504.000000,Four-Door Car,Medsize
296,296,DS81757,Oregon,2470.121222,No,Basic,College,1/9/11,Unemployed,M,...,20,NaN,1,Personal Auto,Personal L1,Offer4,Web,721.242206,Two-Door Car,Large
381,381,LQ20969,California,6189.994337,No,Extended,Bachelor,1/23/11,Employed,M,...,62,NaN,8,Personal Auto,Personal L1,Offer1,Branch,343.789779,Four-Door Car,Large
417,417,CE72177,California,5461.548993,No,Basic,High School or Below,1/7/11,Employed,F,...,0,NaN,3,Personal Auto,Personal L3,Offer2,Agent,485.705851,Four-Door Car,Large
420,420,LK73001,California,8954.434101,No,Premium,College,2/18/11,Employed,M,...,9,NaN,3,Personal Auto,Personal L3,Offer3,Branch,547.200000,Four-Door Car,Small
432,432,AA11235,Nevada,2568.843396,No,Basic,Bachelor,1/28/11,Medical Leave,F,...,99,NaN,1,Personal Auto,Personal L3,Offer2,Branch,350.400000,Two-Door Car,Medsize
435,435,PO26937,Oregon,8223.164916,No,Premium,Bachelor,1/18/11,Employed,M,...,73,NaN,8,Corporate Auto,Corporate L3,Offer3,Web,94.338814,Four-Door Car,Medsize
450,450,RB28630,Oregon,5894.907375,No,Basic,High School or Below,2/20/11,Employed,F,...,55,NaN,7,Personal Auto,Personal L3,Offer2,Branch,355.200000,Four-Door Car,Small
452,452,WS25565,California,8509.850887,Yes,Basic,Master,1/31/11,Disabled,M,...,63,NaN,2,Personal Auto,Personal L1,Offer1,Call Center,523.888845,Four-Door Car,Small
456,456,UH89141,Oregon,33279.772310,No,Basic,High School or Below,1/23/11,Employed,F,...,7,NaN,2,Corporate Auto,Corporate L3,Offer4,Call Center,436.533172,Sports Car,Medsize
461,461,IY77611,Arizona,26223.811930,No,Basic,High School or Below,1/7/11,Unemployed,M,...,15,NaN,2,Corporate Auto,Corporate L3,Offer1,Call Center,828.000000,SUV,Medsize
470,470,AU71562,Washington,2936.726182,No,Basic,High School or Below,2/11/11,Employed,F,...,69,NaN,1,Personal Auto,Personal L3,Offer2,Branch,355.200000,Four-Door Car,Medsize
477,477,MT91823,Arizona,13438.041890,No,Basic,College,1/21/11,Employed,F,...,62,NaN,2,Special Auto,Special L2,Offer1,Branch,537.600000,Sports Car,Small
493,493,BI81476,Oregon,10346.111540,No,Extended,High School or Below,2/9/11,Employed,F,...,3,NaN,2,Personal Auto,Personal L2,Offer3,Agent,58.469264,Four-Door Car,Medsize
496,496,QD86074,Oregon,9035.671134,Yes,Premium,High School or Below,1/21/11,Employed,F,...,44,NaN,9,Corporate Auto,Corporate L1,Offer2,Web,542.400000,Four-Door Car,Large
531,531,WG15595,California,2759.618207,No,Basic,College,1/9/11,Employed,M,...,51,NaN,1,Personal Auto,Personal L3,Offer1,Agent,331.200000,Two-Door Car,Small
536,536,AY35539,Oregon,2530.705137,Yes,Basic,Bachelor,1/21/11,Employed,F,...,2,NaN,1,Personal Auto,Personal L2,Offer2,Web,61.769564,Four-Door Car,Medsize
541,541,BK73302,California,3167.888725,No,Extended,Bachelor,2/17/11,Employed,M,...,55,NaN,1,Corporate Auto,Corporate L3,Offer2,Web,544.340079,Four-Door Car,Medsize
581,581,DG80424,Washington,2691.568951,No,Basic,College,1/24/11,Employed,F,...,63,NaN,1,Personal Auto,Personal L2,Offer2,Agent,257.900458,Four-Door Car,Medsize
589,589,LK35963,California,17019.006100,No,Basic,Bachelor,2/1/11,Employed,F,...,8,NaN,2,Personal Auto,Personal L3,Offer2,Branch,117.015463,Two-Door Car,Medsize
598,598,OW33876,Washington,2476.480866,No,Basic,College,2/14/11,Employed,F,...,51,NaN,1,Corporate Auto,Corporate L3,Offer2,Call Center,246.256648,Two-Door Car,Medsize
612,612,NJ72300,Oregon,8009.028202,No,Basic,Bachelor,1/25/11,Unemployed,F,...,8,NaN,3,Personal Auto,Personal L3,Offer2,Web,740.963933,SUV,Small
624,624,CP98451,Oregon,9057.935331,No,Basic,College,1/2/11,Employed,F,...,37,NaN,9,Personal Auto,Personal L3,Offer1,Agent,327.682669,SUV,Medsize
626,626,GF35623,California,5886.615741,No,Extended,High School or Below,1/23/11,Unemployed,F,...,37,NaN,4,Personal Auto,Personal L2,Offer1,Branch,583.200000,Four-Door Car,Small
646,646,XH71839,Oregon,6739.316292,No,Extended,High School or Below,1/18/11,Unemployed,M,...,43,NaN,7,Personal Auto,Personal L3,Offer1,Agent,1012.030163,Four-Door Car,Small
667,667,UW68708,California,5009.595291,No,Basic,Bachelor,1/20/11,Unemployed,F,...,95,NaN,4,Personal Auto,Personal L2,Offer1,Web,496.800000,Four-Door Car,Medsize
696,696,RC67125,Arizona,10110.961610,No,Extended,College,1/8/11,Employed,F,...,22,NaN,3,Corporate Auto,Corporate L3,Offer3,Agent,504.513989,SUV,Medsize
715,715,TA31436,California,8132.702789,No,Basic,Bachelor,1/9/11,Employed,F,...,20,NaN,8,Corporate Auto,Corporate L3,Offer1,Agent,512.861063,Sports Car,Large
721,721,OV87950,California,2837.163399,No,Basic,College,2/14/11,Employed,M,...,23,NaN,1,Personal Auto,Personal L1,Offer3,Branch,350.400000,Two-Door Car,Large
727,727,RN45606,Nevada,16224.541820,No,Extended,High School or Below,2/13/11,Employed,F,...,91,NaN,2,Personal Auto,Personal L2,Offer1,Branch,266.146673,SUV,Medsize
754,754,HU76577,California,3883.398053,No,Basic,Bachelor,1/27/11,Unemployed,M,...,70,NaN,1,Personal Auto,Personal L1,Offer1,Agent,765.906271,SUV,Medsize
777,777,GQ15613,Arizona,8004.214781,No,Basic,High School or Below,1/7/11,Employed,F,...,90,NaN,2,Personal Auto,Personal L3,Offer2,Branch,370.503286,Four-Door Car,Medsize
802,802,AI49712,Washington,2593.897887,No,Basic,High School or Below,1/21/11,Unemployed,F,...,99,NaN,1,Personal Auto,Personal L1,Offer3,Call Center,345.600000,Four-Door Car,Large
842,842,FE20514,Oregon,5065.486772,No,Basic,College,1/16/11,Employed,M,...,55,NaN,5,Personal Auto,Personal L1,Offer2,Web,218.717113,Four-Door Car,Medsize
875,875,MH13358,Oregon,2854.266940,No,Basic,High School or Below,2/10/11,Employed,F,...,90,NaN,1,Personal Auto,Personal L3,Offer1,Agent,472.043042,Two-Door Car,Small
876,876,KT61396,California,3821.819872,No,Extended,College,1/16/11,Employed,F,...,50,NaN,1,Corporate Auto,Corporate L2,Offer2,Branch,50.171541,Two-Door Car,Small
914,914,JT32550,Washington,7260.833833,No,Basic,High School or Below,1/30/11,Unemployed,M,...,25,NaN,2,Personal Auto,Personal L2,Offer4,Web,744.026708,Four-Door Car,Small
922,922,CW27031,Washington,13450.955610,No,Extended,High School or Below,2/2/11,Unemployed,F,...,80,NaN,2,Corporate Auto,Corporate L2,Offer1,Agent,907.200000,SUV,Medsize
925,925,PD79570,Oregon,4334.210791,No,Premium,Bachelor,2/21/11,Unemployed,F,...,87,NaN,1,Personal Auto,Personal L3,Offer2,Agent,1065.617464,Four-Door Car,Small

In [13]:

mean_number_of_open_complaints = int(filedrop3['number of open complaints'].mean())
mean_number_of_open_complaints #0.38 is close to 0
filedrop3['number of open complaints'] = filedrop3['number of open complaints'].fillna(mean_number_of_open_complaints)

In [14]:

filedrop3['months since last claim'].unique() 
# array(array([ 7.,  3., 34., 10., nan,  8., 35., 33., 19., 13., 24., 25.,  6.,
#       20., 26.,  5., 14.,  9., 29., 11.,  1., 18., 16., 30., 12.,  2.,
#       4., 22., 31., 21., 28., 17., 15., 32., 23., 27.,  0.]))

mean_number_months_since_last_claim = int(filedrop3['months since last claim'].mean())
mean_number_months_since_last_claim #15.097 becomes 15
filedrop3['months since last claim'] = filedrop3['months since last claim'].fillna(mean_number_months_since_last_claim)

In [15]:
nulls_data = pd.DataFrame(round(filedrop3.isna().sum()/len(filedrop3),4)*100) # shows the percentage of null values in a column
#nulls_data = nulls_data.reset_index()
display(nulls_data)
#Clean!!!!

                                 0
index                          0.0
customer                       0.0
state                          0.0
customer lifetime value        0.0
response                       0.0
coverage                       0.0
education                      0.0
effective to date              0.0
employmentstatus               0.0
gender                         0.0
income                         0.0
location code                  0.0
marital status                 0.0
monthly premium auto           0.0
months since last claim        0.0
months since policy inception  0.0
number of open complaints      0.0
number of policies             0.0
policy type                    0.0
policy                         0.0
renew offer type               0.0
sales channel                  0.0
total claim amount             0.0
vehicle class                  0.0
vehicle size                   0.0

In [24]:

#Datetime format - Extract the months from the dataset and store in a separate column. 
#extractedData = file[[7]]
#data = pd.DataFrame({'Effective To Date'})

filedrop3['month'] = pd.DatetimeIndex(filedrop3['effective to date']).month #it's at the back of the table
filedrop3.head()
y = filedrop3[['month']]
print (y)
filedrop3[(filedrop3['month']==1) | (filedrop3['month']==2) | (filedrop3['month']==3) ]

firstkw= filedrop3[(filedrop3['month']==1) | (filedrop3['month']==2) | (filedrop3['month']==3)]
display(firstkw.head())

       month
0          2
1          1
2          2
3          1
4          1
...      ...
10904      2
10905      1
10906      1
10907      2
10908      2

[9688 rows x 1 columns]

,index,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1